.btnku{
    color: white;
    font-size: 12px;
    border-width: 0px;
    box-shadow: 0 2px 1px -1px #000;
}

.btn-login{
    width: 220px;
    height: 40px;
}

.submit{
    background: #0275D8;
    border-radius: 4px;
}
.submit:active{
    background: rgb(0, 86, 161);
    box-shadow: none;
}

.btn-kecil{
    width: 40px;
}

