.form-body{
    background-color: #F7F6F9;
}
.form-container{
    margin: 10vh 8vw 10vw 8vw;
}
.form-banner{
    border-radius: 10px;
    width: 84vw;
    background: #000;
}
.form-a{
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Circular Std Book';
    background: white;
    margin-bottom: 60px;
}
.form-t{
    width: 42vw;
    padding: 40px;
}

.form-date{
    display: flex;
    justify-content: space-around;
}
